@media (max-width: 479px)
{
	.wrap{
		padding-top: 70px;
	}

	._nopad{
		padding-left: 0;
		padding-right: 0;
	}

	.header{
		padding-top: 14px;
		padding-bottom: 19px;
	}

	.header__flex{
		gap: 16px;
	}

	.header__logo{
		width: auto;
	}

	.header__logo img{
		height: 37px;
	}

	.header__info-btn{
		width: 100%;
	}

	.header__burger{
		width: 30px;
		height: 30px;
		border-radius: 7px;
	}
	
	.header__burger::before{
		background-size: 13px auto;
	}

	.header__burger::after{
		background-size: 18px auto;
	}

	.header__block {
		top: 70px;
	}

	.header__block-bg{
		height: calc(100vh - 70px);
	}

	
	.advantages .cont{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: wrap;
	}

	.advantages__bg-img{
		width: 450px;
		margin-left: -38px;
		margin-right: -38px;
	}

	.advantages__items
	{
		width: 100%;
	}


	.adresess__flex{
		margin-left: -20px;
		margin-right: -20px;
		width: calc(100% + 40px);
	}

	.adresess__colr
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.sorting__item{
		width: 100%;
	}

	.first-section__bg{
		margin-left: -20px;
		margin-right: -20px;
		width: calc(100% + 40px);
	}

	.first-section__globaltitle{
		max-width: 188px;
		margin-left: auto;
		margin-right: auto;
	}

	.first-section__desc{
		max-width: 295px;
		margin-left: auto;
		margin-right: auto;
	}

	.first-section__btn{
		width: 100%;
	}

	.first-info__bg{
		border-radius: 40px;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}

	.first-info__adres{
		align-items: flex-start;
		align-content: flex-start;
	}

	.first-info__adres-time{
		width: 60px;
		height: 27px;
		padding: 6px;
	}

	.help-banner__circle1{
		bottom: 170px;
	}


	.info-section__btn{
		width: 100%;
	}

	.info-section{
		margin-top: 20px;
	}


	.page-head__btn{
		width: 100%;
	}


	.share-items__flex{
		gap: 10px;
	}

	.share-items__item{
		width: 40px;
		height: 40px;
	}

	.section-img__img{
		min-height: 200px;
		object-fit: cover;
	}

	.article-text__tag{
		padding: 6px 12px;
	}

	.small-service__item{
		flex-wrap: wrap;
		gap: 10px;
	}

	.small-service__boxr{
		width: 100%;
	}

	.article-grade__top{
		flex-wrap: wrap;
		gap: 10px;
	}

	.article-grade__view{
		width: 100%;
	}


	.always-touch__item{
		width: 100%;
	}

	.contacts__btn{
		width: 100%;
	}

	.contacts__title {
		font-size: 18px;
	}

	.fancybox__slide.has-close-btn{
		padding: 10px;
	}

	._vacancy .service-info__icon {
		width: 50px;
		height: 50px;
		padding: 12px;
		border-radius: 15px;
	}

	.info-items__item {
		padding-left: 12px;
		padding-right: 12px;
	}

	.info-items__number {
		font-size: 30px;
	}

	.file-selection__path._active .file-selection__name {
		font-size: 12px;
	}

	.file-selection__size{
		font-size: 10px;
	}

	.filial__title{
		font-size: 16px;
	}

	.choose-filial__title{
		font-size: 16px;
	}
	/*------------
		Commit
	------------*/

	.form .form__input,
	.select-wrap .nice-select .current,
	.checkbox__text,
	.form .form__textarea
	{
		font-size: 12px;
	}

	.select-wrap .nice-select .list .list_item{
		font-size: 12px;
	}

	.checkbox__text::before
	{
		top: 2px;
	}

	.checkbox__text::after
	{
		top: 5px;
	}

	.text-block h3
	{
		font-size: 20px;
	}

	.text-block h4,
	.text-block h5
	{
		font-size: 16px;
	}

	._marg 
	{
		margin-top: 20px;
	}

	.main-services__item
	{
		aspect-ratio: 1 / 1.4905;
	}

	.main-services__info
	{
		padding-left: 19px;
		padding-right: 19px;
	}
	
	.main-services__name
	{
		font-size: 16px;
	}

	.stocks__item
	{
		padding: 20px;
	}

	.stocks__prices
	{
		font-weight: 600;
	}

	.stocks__desc
	{
		-webkit-line-clamp: 3;
		max-height: 47px;
	}


	.help-banner__box-btns{
		gap: 0;
	}

	.help-banner__box-btn{
		width: 100%;
	}

	.help-banner__phone-number,
	.call-away__phone-number
	{
		font-size: 16px;
	}

	.help-banner__phone-number a,
	.call-away__phone-number a
	{
		padding-left: 26px;
	}

	.help-banner__phone-number a::before,
	.call-away__phone-number a::before
	{
		width: 16px;
		height: 17px;
		margin-top: -9px;
	}

	.help-banner__phone-desc
	{
		text-align: left;
	}

	.help-banner__btn-bord
	{
		margin-top: 10px;
	}

	.symptoms__item{
		padding: 0 9px;
	}

	.symptoms__icon{
		margin-right: 5px;
	}

	.surgery-serv__item
	{
		padding: 10px;
	}

	.surgery-serv__icon
	{
		width: 66px;
		height: 66px;
		border-radius: 15px;
		padding: 15px;
		margin-right: 15px;
	}

	.surgery-serv__info 
	{
		width: calc(100% - 81px);
	}

	.surgery-serv__name
	{
		font-size: 16px;
	}

	.surgery-serv__desc
	{
		margin-top: 5px;
	}


	.products__grid
	{
		grid-template-columns: repeat(1, 1fr);
	}

	.product, 
	.product.product_big 
	{
		aspect-ratio: 1 / 0.663;
	}

	.product__name
	{
		font-size: 20px;
	}

	.product__img
	{
		justify-content: flex-end;
	}

	.product__img picture{
		justify-content: flex-end;
	}

	.product__info
	{
		padding: 30px;
	}

	.product__info-icon
	{
		height: 48px;
	}


	.advantages__title 
	{
		font-size: 26px;
		padding-left: 15px;
		padding-right: 15px;
	}


	.advantages__icon 
	{
		width: 66px;
		height: 66px;
		padding: 15px;
		border-radius: 17px;
	}

	.advantages__info
	{
		padding-top: 23px;
		display: block;
	}

	.advantages__name,
	.specialist__all-name
	{
		font-size: 16px;
	}

	.specialist 
	{
		aspect-ratio: 1 / 1.342;
	}

	.specialist__name
	{
		font-size: 14px;
	}

	.specialist__speciality
	{
		font-size: 10px;
		min-height: 26px;
	}

	.specialist__location
	{
		font-size: 10px;
		line-height: 20px;
		border-radius: 20px;
	}

	.specialist__arrow,
	.our-patients__arrow
	{
		width: 30px;
		height: 30px;
		border-radius: 8px;
	}


	.article__name
	{
		font-size: 16px;
	}

	.article__tags
	{
		margin-top: 12px;
		line-height: 1.25;
	}

	.article__tag
	{
		font-size: 12px;
	}


	.main-form
	{
		margin-top: 30px;
	}

	.main-form__wrap 
	{
		padding-bottom: 97%;
	}

	.main-form__bg 
	{
		width: 173%;
		bottom: -3.8%;
		right: -33%;
	}


	.page-title
	{
		font-size: 40px;
	}


	.accordion__open
	{
		font-size: 12px;
		padding-left: 15px;
		padding-right: 60px;
	}

	.accordion__open-icon
	{
		right: 15px;
	}

	.faq-section__data
	{
		padding-right: 15px;
		padding-left: 15px;
	}


	.service-head__info
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.service-head__area
	{
		font-size: 16px;
	}

	.service-head__items 
	{
		max-width: 190px;
	}

	.service-head__item
	{
		border-radius: 15px;
		padding: 7px;
	}

	.service-head__item-desc
	{
		font-size: 16px;
	}

	.service-info .section-bg
	{
		padding-top: 40px;
	}

	.service-info__coll
	{
		margin-top: 10px;
	}


	.service-info__wrap
	{
		margin-top: 24px;
	}

	.service-info__item
	{
		padding: 20px;
	}

	.service-info__icon
	{
		width: 50px;
		height: 50px;
		border-radius: 15px;
		padding: 12px;
	}

	.service-info__name
	{
		margin-top: 45px;
		font-size: 16px;
	}


	.tabs-bg
	{
		margin-bottom: 20px;
	}

	.tabs__text
	{
		font-size: 14px;
	}


	.service-branch__nav-title
	{
		font-size: 16px;
	}

	.service-branch__nav-btn
	{
		font-size: 12px;
	}


	.text-block__symptom
	{
		line-height: 25px;
	}

	.stages-process
	{
		margin-top: 10px;
	}

	.stages-process__item
	{
		margin-top: 10px;
	}


	.service-branch__item-title + .text-block
	{
		margin-top: 10px;
	}

	.equipment__items
	{
		margin-top: 10px;
	}

	.equipment__item
	{
		border-radius: 5px;
		padding: 5px;
	}

	.equipment__icon
	{
		border-radius: 5px;
		padding: 9px;
	}

	
	.treatment__tabs .global-icon__name
	{
		font-size: 14px;
	}

	.global-icon__box
	{
		padding-left: 30px;
		padding-right: 10px;
	}

	.global-icon__box:before 
	{
		left: 8px;
	}


	.treatment-table__price
	{
		font-size: 16px;
	}

	.treatment__bot-btn
	{
		width: 100%;
	}


	.product-info .breadcrumbs
	{
		text-align: center;
	}

	.product-image__img
	{
		aspect-ratio: 1 / 1.203;
	}

	.product-info .main-title br
	{
		display: none;
	}

	.product-info__recep
	{
		margin-top: 6px;
		margin-left: 0;
		justify-content: space-between;
	}

	.product-info__recep-item 
	{
		padding: 10px;
		width: calc(100%/2 - 5px);
		margin-top: 10px;
		margin-left: 0;
	}

	.product-info__price
	{
		font-size: 16px;
		margin-top: 5px;
	}

	.product-info__bot
	{
		margin-top: 15px;
		padding-top: 15px;

		gap: 20px;
	}

	.product-info__all-price
	{
		border: none;
		padding-right: 23px;
	}

	.product-info__all-price::after
	{
		position: absolute;
		content: '';
		top: 50%;
		right: 0;

		display: block;

		width: 14px;
		height: 8px;

		margin-top: -5px;

		background: url(../images/ic_arrow2.svg) 50% 50% no-repeat;
	}


	.product-info__adress-title
	{
		font-size: 16px;
	}

	.product-info__adres-time
	{
		width: 60px;
		height: 27px;
		padding: 6px 10px;
	}


	.education__item
	{
		padding-bottom: 15px;
	}


	.certs__slider .swiper-overflow
	{
		overflow: visible;
	}

	.certs__item
	{
		width: 240px;
	}

	.certs__name br
	{
		display: none;
	}

	.certs__grid .certs__item
	{
		aspect-ratio: 1 / 1.5;
	}

	.certs__grid .certs__name
	{
		font-size: 12px;
		max-height: 47px;
		-webkit-line-clamp: 3;
	}

	.certs__grid .certs__bot-flex
	{
		align-items: flex-end;
		align-content: flex-end;
	}

	.certs__bot-box
	{
		margin-top: 20px;
	}

	.btn-border_width
	{
		width: 100%;
	}


	.section-price__flex
	{
		gap: 15px;
	}

	.section-price .main-title
	{
		order: 1;
	}

	.section-price__wrap
	{
		order: 2;
	}

	.section-price__box-btn
	{
		width: 100%;
		order: 3;
		margin-top: 10px;
	}

	.section-price__btn
	{
		width: 100%;
	}

	.section-price__info
	{
		width: 100%;
	}

	.section-price__name
	{
		font-size: 14px;
	}

	.section-price__price
	{
		font-size: 16px;
	}


	.stats-reviews__btn
	{
		width: 100%;
	}

	
	.main-about
	{
		margin-left: 0;
		margin-right: 0;
	}


	.call-away__bg
	{
		background-size: 535px auto;
		gap: 0;
		overflow: hidden;
	}

	.call-away__colr
	{
		margin-top: 30px;
	}

	.call-away__desc
	{
		max-width: 220px;
	}

	.call-away__box-btn
	{
		max-width: 100%;
	}

	.call-away__img
	{
		height: 260px;
		height: 310px;
            width: calc(100% + 80px);
            margin-left: -40px;

		/* width: calc(100% + 40px);
		margin-left: -20px; */
		margin-top: 10px;
		border-radius: 0 0 35px 35px;
		overflow: hidden;
	}

	.call-away__img img 
	{
		margin-left: 0;
		border-radius: 0 0 35px 35px;
	}


	.about-img__img 
	{
		aspect-ratio: 1 / .672;
		object-position: center bottom;
	}


	.about-info__item._big
	{
		padding-bottom: 30px;
	}

	.about-info__val
	{
		font-size: 40px;
		line-height: 1;
	}


	.our-principles_marg
	{
		margin-top: 40px;
	}

	.our-principles__item
	{
		width: calc(100% / 1 - 10px);
		aspect-ratio: 1 / .61;
	}


	.about-adv__item
	{
		aspect-ratio: 1 / 1.294;
	}

	.about-adv__title
	{
		font-size: 12px;
	}

	.about-adv__name
	{
		font-size: 20px;
	}

	.about-adv__slider .about-adv__box
	{
		padding-bottom: 53px;
	}

	.about-adv__slider .slider-button-prev
	{
		width: 30px;
		height: 30px;
		border-radius: 5px;
	}

	.about-adv__slider .slider-button-next
	{
		width: 30px;
		height: 30px;
		border-radius: 5px;
		left: 60px;
	}


	.learn-more__coll
	{
		padding-bottom: 10px;
	}

	.learn-more__btn
	{
		width: 100%;
	}

	.learn-more__img
	{
		padding-bottom: 30px;
	}


	.clinic-visits__number
	{
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}

	.clinic-visits__box
	{
		margin-top: 20px;
	}

	.clinic-visits__name
	{
		font-size: 16px;
	}


	.footer
	{
		padding-bottom: 0;
	}

	.footer__logo a, 
	.footer__logo img
	{
		max-width: 101px;
	}

	.footer__tel
	{
		margin-top: 30px;
		font-size: 16px;
	}

	.footer__tel a
	{
		padding-left: 26px;
	}

	.footer__tel a::before
	{
		position: absolute;
		content: '';
		top: 2px;
		left: 0;

		display: block;

		width: 16px;
		height: 16px;

		background: url(../images/ic_tel_blue.svg) 50% 50% no-repeat;
	}

	.footer__time
	{
		margin-top: 5px;
	}

	.footer__adreses
	{
		margin-top: 22px;
	}

	.footer__adres-time
	{
		width: 60px;
		height: 27px;
		padding: 6px 10px;
	}

	.footer__menu-item
	{
		font-size: 14px;
	}

	.footer__menu-item + .footer__menu-item
	{
		margin-top: 15px;
	}

	.footer__yn-info
	{
		font-size: 14px;
	}

	.footer__yn-desc
	{
		font-size: 12px;
	}

	.footer__copy
	{
		margin-top: 10px;
	}

	.footer__creator
	{
		margin-top: 10px;
	}

	.footer__creator-img 
	{
		width: 50px;
		height: 20px;
	}


	.modal{
		border-radius: 35px;
	}

	.modal__title
	{
		font-size: 20px;
	}

	.global-icon__name,
	.global-icon__adres
	{
		font-size: 12px;
	}

	.modal-form__price-old
	{
		font-size: 12px;
	}

	.modal-form__price
	{
		font-size: 16px;
	}

	.modal-form__agree
	{
		margin-top: 20px;
	}

	.modal-form__submit
	{
		margin-top: 20px;
	}

	.modal-form__submit-btn
	{
		width: 100%;
	}
	

	.modal-doctor__name 
	{
		font-size: 18px;
	}


	.modal-patient__name 
	{
		font-size: 20px;
	}

	.modal-patient__status
	{
		font-size: 12px;
		line-height: 30px;
	}

	.modal-patient__items 
	{
		margin-top: 20px;
	}

	.modal-patient__item:first-child 
	{
		padding-top: 20px;
	}

	.modal-patient__item:last-child
	{
		padding-bottom: 20px;
	}

	.modal-patient__item-name 
	{
		width: 135px;
	}


	.modal-review .review-rating__star 
	{
		width: 15px;
		height: 14px;
	}

	.modal-review .review-rating__star + .review-rating__star
	{
		margin-left: 6px;
	}

	.modal-review .review__flex .review-rating
	{
		margin-top: 0;
	}

	.modal-review .review__pet-info::before 
	{
		top: 0px;
	}


	.section-cookie__flex
	{
		flex-wrap: wrap;
		gap: 20px;
	}

	.section-cookie__info
	{
		font-size: 12px;
	}
}