@media (max-width: 1319px)
{
	.advantages__bg-img{
		padding-bottom: 50px;
	}

	.advantages__items{
		margin-top: 50px;
	}


	.help-banner__colc{
		display: none;
	}

	.help-banner__coll{
		width: 60%;
	}

	.help-banner__colr{
		width: 40%;
		justify-content: flex-end;
	}

	.help-banner__abs{
		display: none;
	}

	.help-banner__abs2{
		display: none;
	}


	.first-section__flex{
		padding-top: 80px;
	}

	.first-section__coll{
		padding-bottom: 40px;
	}
	/*------------
		Commit
	------------*/
	
	.first-section__title
	{
		font-size: 64px;
	}

	.first-info
	{
		width: 410px;
	}

	.first-section__mouse
	{
		bottom: 20px;
	}


	.main-services__info
	{
		padding-top: 24px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-services__name,
	.stocks__name,
	.product__name,
	.specialist__all-name,
	.adresess__title,
	.adresess__tel,
	.first-info__title,
	.header__info-title
	{
		font-size: 22px;
	}

	.main-services__arrow
	{
		left: 20px;
		bottom: 20px;
	}

	.stocks__btns
	{
		justify-content: center;
	}

	.stocks__btn
	{
		width: 100%;
	}


	.surgery-serv__icon
	{
		width: 80px;
		height: 80px;
	}

	.surgery-serv__info 
	{
		width: calc(100% - 100px);
	}

	.surgery-serv__name,
	.specialist__name, 
	.review__name,
	.review__avatar-name,
	.article__name
	{
		font-size: 18px;
	}


	.advantages__icon
	{
		width: 80px;
		height: 80px;
	}


	.specialists__grid
	{
		--products_count: 3;
	}

	.specialist
	{
		aspect-ratio: 1 / 1.4;
	}


	.review__bot
	{
		margin-top: 20px;
	}


	.footer__coll 
	{
		width: 360px;
	}

	.footer__colr 
	{
		width: 410px;
	}
}