@media (max-width: 1699px)
{
	.header__block{
		padding-bottom: 40px;
	}

	.header__block-bg{
		padding: 40px;
		height: calc(100vh - 175px);
	}

	.header__menu{
		width: 20%;
	}


	.small-service__name{
		font-size: 22px;
	}

	.small-title{
		font-size: 22px;
	}

	.article-text__info-name{
		font-size: 22px;
	}

	.subject__title{
		font-size: 22px;
	}

	.articles-cats__name{
		font-size: 22px;
	}

	.always-touch__link{
		font-size: 22px;
	}

	.vacancy__name{
		font-size: 26px;
	}
	/*------------
		Commit
	------------*/

	.text-block h3
	{
		font-size: 30px;
	}

	.text-block h4
	{
		font-size: 22px;
	}

	.first-section__title
	{
		font-size: 80px;
	}

	.main-title
	{
		font-size: 38px;
	}

	.section-bg
	{
		padding: 40px;
	}

	.main-services__name,
	.stocks__name,
	.product__name,
	.specialist__all-name,
	.help-banner__phone-number,
	.adresess__title,
	.adresess__tel,
	.first-info__title,
	.header__info-title,
	.call-away__phone-number
	{
		font-size: 28px;
	}

	.stocks__item
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.stocks__btns
	{
		gap: 20px;
	}


	.help-banner__coll
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.help-banner__img
	{
		padding-left: 0;
		justify-content: center;
	}

	.help-banner__colr
	{
		padding-left: 30px;
		padding-right: 30px;
	}


	.surgery-serv__name,
	.advantages__name,
	.specialist__name,
	.review__name,
	.article__name,
	.review__avatar-name,
	.header__adreses-city,
	.header__adreses-city,
	.service-info__name
	{
		font-size: 22px;
	}


	.advantages__title
	{
		font-size: 60px;
	}


	.main-about__coll
	{
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 80px;
	}

	.product__info-icon
	{
		height: 90px;
	}


	.sorting__item_small 
	{
		width: 20%;
	}


	.product-info__adress-title,
	.product-info__price
	{
		font-size: 22px;
	}


	.about-info__val
	{
		font-size: 60px;
	}

	
	.our-principles__name,
	.about-adv__name
	{
		font-size: 28px;
	}


	.learn-more__coll
	{
		padding-top: 100px;
		padding-bottom: 100px;
	}


	.clinic-visits__name
	{
		font-size: 22px;
	}
}