@media (max-width: 1199px)
{
	.header-search{
		margin-left: 0;
	}

	.header__block{
		padding-bottom: 20px;
	}

	.header__block-bg
	{
		padding: 20px;
		height: calc(100vh - 148px);
	}
	
	.header__info-tel{
		font-size: 20px;
	}

	.header__info-btns{
		margin-top: 24px;
		gap: 12px 20px;
	}

	.header__info{
		padding: 20px;
		border-radius: 20px;
	}

	.header__adreses{
		padding: 20px;
		border-radius: 20px;
	}

	.header__menu {
		width: 25%;
	}

	.header__menu-item + .header__menu-item {
		margin-top: 24px;
	}

	.header__menu-item{
		font-size: 16px;
	}

	.footer__menu-item{
		font-size: 16px;
	}

	.footer__tel {
		margin-top: 40px;
		font-size: 20px;
	}

	.footer{
		padding-bottom: 20px;
	}

	/*------------
		Commit
	------------*/
	body
	{
		font-size: 14px;
	}
	
	.header__flex,
	.header__contacts
	{
		gap: 20px;
	}

	.header__logo
	{
		width: 140px;
	}

	.header-search__form .header-search__form-input
	{
		height: 50px;
	}


	.first-section__flex
	{
		padding-top: 50px;
	}

	.first-section__title 
	{
		font-size: 60px;
	}

	.first-info 
	{
		width: 360px;
	}

	.first-info__bg
	{
		padding: 25px 20px;
	}


	.main-services__name, 
	.stocks__name
	{
		font-size: 20px;
	}

	.main-services__arrow
	{
		width: 37px;
		height: 37px;
		border-radius: 10px;
	}

	.main-services__arrow svg
	{
		width: 20px;
		height: 10px;
	}


	.section-bg
	{
		padding: 20px;
	}


	.stocks__price-box
	{
		margin-top: 10px;
	}

	.stocks__desc
	{
		margin-top: 16px;
	}

	.stocks__btns
	{
		margin-top: 20px;
		padding-top: 20px;
	}


	.surgery-serv__item
	{
		width: calc(100%/2 - 20px);
	}


	.product
	{
		padding: 20px;
	}

	.product__name
	{
		font-size: 20px;
	}

	.product__info
	{
		padding: 20px;
	}

	.product__info-icon 
	{
		height: 60px;
	}

	.product__arrow
	{
		width: 37px;
		height: 37px;
		border-radius: 10px;
		left: 20px;
		bottom: 20px;
	}

	.product__arrow svg
	{
		width: 20px;
		height: 10px;
	}


	.advantages__title 
	{
		font-size: 46px;
	}

	.specialist__arrow
	{
		width: 37px;
		height: 37px;
		border-radius: 10px;
	}

	.specialist__arrow svg
	{
		width: 20px;
		height: 10px;
	}


	.reviews__head 
	{
		width: calc(100% - 310px);
	}

	.reviews__btn
	{
		width: 280px;
	}


	.slider-button-prev._top
	{
		top: -67px;
		right: 60px;
	}

	.slider-button-next._top
	{
		top: -67px;
	}

	.slider-button-prev, 
	.slider-button-next
	{
		width: 38px;
		height: 38px;
		border-radius: 10px;
	}

	.slider-button-prev svg, 
	.slider-button-next svg
	{
		width: 20px;
		height: 10px;
	}


	.footer__coll,
	.footer__colr
	{
		width: 330px;
	}
}