@media (max-width: 1499px)
{
	.header__adreses{
		padding-left: 30px;
		padding-right: 30px;
	}

	.header__info{
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer{
		padding-bottom: 40px;
	}


	.main-form__wrap{
		padding: 5% 0;
	}

	.main-form__bg{
		width: 60%;
		bottom: -16%;
	}
	
	/*------------
		Commit
	------------*/
	.text-block h4
	{
		font-size: 20px;
	}


	.main-title 
	{
		font-size: 32px;
	}

	.header__block{
		padding-bottom: 30px;
	}

	.header__block-bg
	{
		border-radius: 35px;
		padding-left: 30px;
		padding-right: 30px;
		height: calc(100vh - 165px);
	}

	.header__adreses
	{
		border-radius: 20px;
	}


	.first-section__bg
	{
		border-radius: 35px;
	}

	.first-section__flex
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.first-section__title 
	{
		font-size: 70px;
		line-height: 1.2;
	}

	.first-info
	{
		width: 430px;
	}

	.first-info__bg
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.first-info__tel
	{
		font-size: 22px;
	}

	.first-info__adreses 
	{
		margin-top: 50px;
	}


	.section-bg
	{
		border-radius: 35px;
		padding: 30px;
	}


	.main-services__item,
	.main-services__img
	{
		border-radius: 35px;
	}

	.main-services__info
	{
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.main-services__name,
	.stocks__name,
	.product__name,
	.specialist__all-name,
	.help-banner__phone-number,
	.adresess__title,
	.adresess__tel,
	.first-info__title,
	.header__info-title
	{
		font-size: 24px;
	}

	.main-services__desc
	{
		margin-top: 12px;
	}

	.main-services__arrow
	{
		bottom: 30px;
		left: 30px;
	}


	.stocks__item
	{
		border-radius: 35px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.stocks__price-box
	{
		margin-top: 15px;
	}

	.stocks__desc
	{
		margin-top: 20px;
	}

	.stocks__btns
	{
		margin-top: 25px;
		padding-top: 25px;
		gap: 15px;
	}

	.stocks__btn
	{
		padding-left: 20px;
		padding-right: 20px;
	}


	.help-banner__bg
	{
		border-radius: 35px;
	}

	.help-banner__coll
	{
		width: calc(40% + 4px);
	}

	.help-banner__colr
	{
		width: calc(24% + 5px);
	}


	.surgery-serv__item
	{
		border-radius: 35px;
		padding: 20px;
	}

	.surgery-serv__icon
	{
		border-radius: 15px;
		width: 90px;
		height: 90px;
	}

	.surgery-serv__info 
	{
		width: calc(100% - 110px);
	}

	.surgery-serv__name,
	.advantages__name,
	.specialist__name,
	.review__name,
	.review__avatar-name
	{
		font-size: 20px;
	}


	.product
	{
		border-radius: 35px;
		padding: 25px;
	}

	.product__img,
	.product_all::after
	{
		border-radius: 35px;
	}

	.product__info
	{
		padding: 30px;
	}

	.product__info-icon 
	{
		height: 70px;
	}

	.product__desc
	{
		margin-top: 12px;
		font-size: 14px;
	}

	.product__arrow
	{
		left: 25px;
		bottom: 25px;
	}


	.advantages__title 
	{
		font-size: 54px;
	}

	.advantages__item
	{
		border-radius: 25px;
		padding: 25px;
		max-width: 440px;
	}

	.advantages__icon
	{
		width: 90px;
		height: 90px;
		border-radius: 15px;
		padding: 15px;
	}


	.specialist
	{
		border-radius: 20px;
	}

	.specialist__img
	{
		border-radius: 20px;
	}

	.specialist__location
	{
		top: 15px;
		left: 15px;
	}

	.specialist__info
	{
		border-radius: 15px;
	}

	.specialist_all::after
	{
		border-radius: 20px;
	}

	.specialist__all-name
	{
		padding: 20px;
	}

	.specialist__arrow
	{
		left: 20px;
		bottom: 20px;
	}


	.reviews__slider .slider-button-prev._top, 
	.reviews__slider .slider-button-next._top 
	{
		top: -60px;
	}


	.review
	{
		border-radius: 20px;
		padding: 20px;
	}


	.main-about__coll
	{
		border-radius: 35px;
		padding: 30px 30px 50px;
	}

	.main-about__colr
	{
		border-radius: 35px;
	}


	.adresess__tab
	{
		border-radius: 20px;
	}

	.tabs__item
	{
		padding: 27px 20px;
	}


	.article__thumb
	{
		border-radius: 20px;
	}

	.article__name
	{
		margin-top: 10px;
		font-size: 20px;
	}

	.article__desc
	{
		margin-top: 5px;
	}

	.article__tags
	{
		margin-top: 15px;
	}
}