@media (max-width: 767px)
{
	body{
		font-size: 12px;
	}
	.header__menu-item{
		font-size: 14px;
	}

	.header-search__form .header-search__form-input{
		height: 40px;
		border-radius: 5px;
		padding-left: 40px;
		box-shadow: 1px 1px 8px 0 #e9e9e9;
		font-size: 12px;
		background-position: 15px 50%;
		background-size: 16px auto;
	}

	.header__adreses{
		width: 100%;
		order: 2;
		margin-top: 10px;
	}

	.header__info{
		width: 100%;
	}

	.header__adreses-city{
		font-size: 16px;
	}

	.header__adreses-item + .header__adreses-item{
		margin-top: 24px;
	}

	.header__info-title{
		font-size: 20px;
	}

	.header__info-tel{
		font-size: 16px;
		margin-top: 16px;
	}

	.header__info-time{
		margin-top: 5px;
	}

	.header__info-btns {
		margin-top: 20px;
		gap: 10px;
	}

	.btn-blue
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-red{
		padding-left: 20px;
		padding-right: 20px;
	}

	.header__tel-desc{
		font-size: 10px;
	}

	.specialists__top{
		margin-top: 15px;
		gap: 10px;
	}

	.sorting__form{
		gap: 10px;
	}

	.sorting__item{
		width: calc(50% - 10px/2);
	}

	.form-search .form-search__input{
		height: 40px;
		border-radius: 5px;
		font-size: 12px;
		padding-left: 42px;
		background-size: 18px auto;
		background-position: 14px 50%;
	}

	.first-section__bg{
		background: url(../images/tmp/banner_bg_mob.jpg) 50%/cover no-repeat;
	}

	.first-section__flex{
		padding-bottom: 3px;
		min-height: 1px;
		align-items: flex-start;
		align-content: flex-start;
	}

	.first-section__globaltitle{
		padding-left: 0;
		font-weight: 400;
		color: var(--chernyy);
	}

	.first-section__globaltitle::before{
		display: none;
	}

	.first-section__desc{
		max-width: 428px;
		margin-left: auto;
		margin-right: auto;
	}

	.first-section__btns{
		justify-content: center;
	}
	
	.first-section__video{
		position: relative;
		border-radius: 0 0 35px 35px;
		height: auto;
		aspect-ratio: 1/1.25;
		-webkit-mask-image: linear-gradient(
			to bottom,
			transparent 0%,
			#000 5%
		);

		mask-image: linear-gradient(
			to bottom,
			transparent 0%,
			#000 5%
		);
	}

	.first-section__coll{
		width: 100%;
		text-align: center;
	}

	.first-info__title{
		font-size: 20px;
	}

	.first-info__tel{
		font-size: 16px;
	}

	.first-info__adres{
		width: 100%;
	}

	.first-info__adres-name{
		font-size: 14px;
	}

	.help-banner__circle4{
		display: none;
	}

	.help-banner__circle1 {
		bottom: 127px;
		left: 20px;
	}


	.info-section__bg{
		padding-right: 20px;
		background-image: none;
	}

	.info-section__img{
		display: none;
	}

	.info-section{
		margin-top: 35px;
	}

	.cat-links__link {
		font-size: 14px;
	}


	.articles__grid .article {
		width: calc(100% - 15px);
	}

	.page-head__btns{
		gap: 16px;
	}

	.page-head__btn{
		min-width: 1px;
	}

	.page-head__info-item {
		border-radius: 19px;
		padding: 6px 14px;
		line-height: 16px;
	}

	.article-text .text-block ul li::before {
		top: 5px;
		width: 4px;
		height: 4px;
	}

	.text-block ul._error{
		padding-bottom: 2px;
	}

	.article-text .text-block ul._error li,
	.text-block ul._error li{
		padding-left: 30px;
		min-height: 16px;
	}

	.article-text .text-block ul._error li + li,
	.text-block ul._error li + li{
		margin-top: 10px;
	}

	.article-text .text-block ul._error li::before,
	.text-block ul._error li::before{
		width: 20px;
		height: 20px;
		background-size: 8px auto;
	}

	.article-text__tags{
		flex-wrap: wrap;
	}

	.article-text__tags-title{
		width: 100%;
		margin-top: 0;
	}

	.article-text__tag{
		font-size: 12px;
	}

	.small-service__name{
		font-size: 18px;
	}

	.small-title{
		font-size: 18px;
	}

	.article-text__info-name{
		font-size: 18px;
	}

	.subject__title{
		font-size: 18px;
	}

	.small-service__items{
		margin-top: 16px;
	}

	.small-service__item + .small-service__item{
		margin-top: 16px;
	}

	.subject__item {
		margin-top: 12px;
	}

	.articles-cats__item {
		width: calc(100% - 15px);
	}

	.big-search .big-search__input{
		height: 40px;
		border-radius: 5px;
		padding-left: 40px;
		padding-right: 40px;
		font-size: 12px;
		background-position: 15px 50%;
		background-size: 16px auto;
	}

	.big-search__clear{
		width: 40px;
		height: 40px;
		margin-left: -40px;
	}

	.big-search__clear svg{
		width: 18px;
		height: 18px;
	}

	.section-error .big-search{
		margin-top: 24px;
	}

	.section-error__wrap{
		padding: 0;
	}

	.big-search_marg{
		margin-top: 20px;
	}

	.search-empty{
		margin-top: 20px;
	}

	.always-touch__link {
		font-size: 18px;
	}


	.contacts .map {
    	width: 100%;
		aspect-ratio: 1/.5;
	}

	.contacts__box {
    	width: 100%;
		margin-top: 10px;
	}

	.contacts__btns{
		margin-top: 20px;
	}
	/*------------
		Commit
	------------*/

	.text-block h3 
	{
		font-size: 22px;
	}

	.text-block h4
	{
		font-size: 18px;
		margin-bottom: 10px;
	}

	.text-block * + h4{
		margin-top: 20px;
	}

	.text-block * + h5 
	{
		margin-top: 20px;
	}

	.text-block h5
	{
		font-size: 18px;
	}

	.text-block p
	{
		margin-bottom: 15px;
	}

	.text-block blockquote
	{
		margin-bottom: 20px;
		padding: 10px;
	}

	.text-block ul li
	{
		padding-left: 20px;
	}

	.text-block ul li::before
	{
		top: 7px;
		left: 9px
	}

	.text-block.modal__text-block p,
	.text-block ul.text-block__ul-blue
	{
		margin-bottom: 20px;
	}

	.text-block ul.text-block__ul-blue li 
	{
		padding-left: 24px;
	}

	.text-block ul.text-block__ul-blue li::before
	{
		top: 4px;
		width: 5px;
		height: 5px;
	}

	._marg
	{
		margin-top: 35px;
	}

	.main-title
	{
		font-size: 26px;
	}

	.main-title__mob-none
	{
		display: none;
	}
	

	.main-services__grid 
	{
		margin-top: -10px;
		margin-left: -10px;
	}

	.main-services__item
	{
		width: calc(100% / 2 - 10px);
		margin-top: 10px;
		margin-left: 10px;
		aspect-ratio: 1 / 1.4;
	}

	.main-services__info
	{
		padding-bottom: 24px;
	}

	.main-services__arrow
	{
		display: none;
	}

	.main-services__name
	{
		font-size: 18px;
	}


	.stocks__item
	{
		border-radius: 20px;
	}


	.help-banner__coll
	{
		padding: 25px 20px 0;
		width: 100%;
	}

	.help-banner__box-btns{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		gap: 16px;
	}

	.help-banner__box-btn{
		margin: 0;
		width: calc(50% - 8px)
	}

	.help-banner__desc
	{
		margin-top: 16px;
	}

	.symptoms_marg
	{
		margin-top: 14px;
	}

	.symptoms__item
	{
		line-height: 30px;
		padding: 0 10px;
	}

	.symptoms__icon
	{
		height: 20px;
	}

	.help-banner__note
	{
		margin-top: 30px;
		font-size: 12px;
		padding-bottom: 24px;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
	}

	.help-banner__colr
	{
		padding: 24px 20px 25px;
		width: 100%;
	}

	.help-banner__box
	{
		margin-top: 0;
		max-width: 100%;
		width: 100%;
	}

	.help-banner__phone
	{
		display: inline-block;
	}

	.help-banner__box-btns
	{
		margin-top: 16px;
		width: 100%;
		max-width: 100%;
	}


	.surgery-serv__grid 
	{
		margin-left: -10px;
		margin-top: 7px;
	}

	.surgery-serv__item
	{
		width: calc(100% / 1 - 10px);
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 20px;
	}


	.products__grid
	{
		gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}

	.product, 
	.product.product_big 
	{
		border-radius: 20px;
	}

	.product__img, .product_all::after{
		border-radius: 20px;
	}

	.product_all::after
	{
		border-radius: 20px;
	}

	.product__name 
	{
		font-size: 18px;
	}


	.advantages__title 
	{
		font-size: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.advantages__items + .advantages__items
	{
		margin-top: 10px;
	}

	.advantages__item 
	{
		width: calc(50% - 5px);
		padding: 20px;
	}

	.advantages__name
	{
		font-size: 18px;
	}


	.specialists__grid
	{
		margin-left: -10px;
	}

	.specialist 
	{
		padding: 5px;
	}

	.specialists__grid .specialist{
		width: calc(100% / var(--products_count) - 10px);
		margin-top: 10px;
		margin-left: 10px;
	}

	.specialist__location 
	{
		top: 10px;
		left: 10px;
	}

	.specialist__name
	{
		font-size: 16px;
	}

	.specialist__info
	{
		padding: 10px 10px 13px;
	}

	.specialist__speciality
	{
		font-size: 12px;
		margin-top: 5px;
	}

	.specialist__bot
	{
		display: none;
	}

	.specialist__all-name
	{
		font-size: 18px;
	}


	.reviews__slider
	{
		margin-top: 15px;
	}

	.review-rating 
	{
		margin-top: 1px;
	}

	.review__pet-info::before
	{
		height: 14px;
	}

	.review__box-btn
	{
		margin-top: 12px;
	}

	.review__all-btn
	{
		border-bottom: none;
	}

	.review__bot
	{
		margin-top: 16px;
	}

	.review__btn-video
	{
		text-transform: none;
	}

	.reviews__btn > *
	{
		width: 100%;
	}

	.review__desc
	{
		margin-top: 18px;
	}

	.review__flex .review-rating 
	{
		margin-top: 1px;
	}


	.main-about__colr
	{
		border-radius: 20px;
	}

	.main-about__btn
	{
		margin-top: 20px;
		width: 100%;
	}


	.adresess__flex{
		position: relative;
		margin-top: 20px;
	}

	.adresess__coll
	{
		width: 100%;
		height: 688px;
		order: 2;
		margin-top: 30px;
	}

	.adresess__colr
	{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.tabs__item{
		width: calc(50% - 8px);
		position: static;
		min-height: 1px;
		aspect-ratio: auto;
		padding: 0;
	}
	
	.tabs__item + .tabs__item{
		margin-top: 0;
	}

	.adresess__tab{
		position: relative;
		height: auto;
		border-color: rgba(25, 26, 41, 0.3);

		font-weight: 500;
		font-size: 16px;
		line-height: 38px;
		color: var(--chernyy);
		background: transparent;
	}

	.tabs__item-content{
		position: absolute;
		left: 20px;
		bottom: 20px;
		width: calc(100% - 40px);

		border-radius: 20px;
		background: #fff;
		border: 2px solid #2262B7;
		padding: 18px;
		min-height: 192px;

		display: none;
	}

	.tabs__item._active .tabs__item-content{
		display: flex;
	}

	.adresess__time {
		width: 60px;
		height: 27px;
		padding: 6px;
	}

	.adresess__title{
		font-size: 20px;
	}

	.adresess__sity{
		margin-top: 6px;
	}

	.adresess__tel{
		font-size: 16px;
	}


	.main-form__main-title{
		margin-bottom: 20px;
	}

	.main-form__wrap 
	{
		padding-bottom: 55%;
	}

	.form__flex .form__line 
	{
		width: 100%;
	}

	.form__line
	{
		margin-bottom: 10px;
	}

	.form .form__input
	{
		font-size: 14px;
		height: 40px;
		border-radius: 5px;
	}

	.form .form__textarea
	{
		font-size: 14px;
		border-radius: 5px;
	}

	.select-wrap .nice-select .current
	{
		height: 40px;
		font-size: 14px;
		border-radius: 5px;
		line-height: 38px;
	}

	.select-wrap .nice-select .current:after
	{
		width: 8px;
		height: 8px;

		margin-top: -5px;
	}

	.checkbox__text
	{
		font-size: 14px;
	}

	.main-form__form .form__submit > *
	{
		width: 100%;
	}

	.main-form__bg 
	{
		width: 100%;
		bottom: -5%;
	}


	.service-branch__item-title
	{
		font-size: 20px;
	}

	.service-branch__item + .service-branch__item
	{
		margin-top: 20px;
	}


	.service-branch__bg
	{
		border-radius: 20px;
		padding: 20px;
	}

	.equipment__item 
	{
		width: calc(100% / 1 - 20px);
		max-width: 100%;
		padding: 10px;
		margin-top: 10px;
	}


	.tabs.global-icons
	{
		margin-left: -15px;
	}

	.tabs.global-icons .global-icon
	{
		width: calc(100%/2 - 15px);
		margin-top: 15px;
		margin-left: 15px;
	}


	.treatment__data
	{
		padding-top: 20px;
	}

	.treatment-table
	{
		border-spacing: 0;
	}

	.treatment-table tr + tr
	{
		margin-top: 10px;
	}

	.treatment-table tr
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		border-radius: 15px;
		padding: 15px;
		background: #F4F9FF;
	}

	.treatment-table td
	{
		padding: 0;
	}

	.treatment-table td:last-child
	{
		padding-right: 0;
	}

	.treatment-table__info
	{
		width: 100%;
		margin-bottom: 10px;
	}

	.treatment-table__price
	{
		font-size: 18px;
	}

	.treatment__bot
	{
		margin-top: 15px;
	}


	.stages-process__item
	{
		width: calc(100% / 1 - 15px);
		border-radius: 20px;
		padding: 20px;
		min-height: 204px;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.stages-process__number
	{
		height: 114px;
		top: auto;
		bottom: 20px;
		right: 20px;
	}

	.stages-process__desc
	{
		max-width: 200px;
	}


	.product-info .section-bg
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.product-info__image
	{
		width: 100%;
	}

	.product-image__img
	{
		border-radius: 20px;
	}

	.product-info__info
	{
		width: 100%;
		margin-top: 27px;
	}

	.product-info__box
	{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: nowrap;
		gap: 20px;
	}

	.product-info__box-info
	{
		flex-wrap: nowrap;
		margin-top: 0;
		margin-left: 0;
	}

	.product-info__exp
	{
		margin-left: 0;
		margin-top: 0;
	}

	.product-info__rev
	{
		margin-top: 0;
	}


	.product-info__adress-title
	{
		margin-bottom: 15px;
	}

	.product-info__adres
	{
		width: 100%;
	}


	.certs__item
	{
		width: 300px;
		border-radius: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.certs__bot
	{
		margin-top: 30px;
	}

	.certs__name
	{
		font-size: 14px;
	}


	.section-price__item
	{
		padding: 15px;
		gap: 20px;
		flex-wrap: wrap;
	}

	.section-price__item + .section-price__item
	{
		margin-top: 10px;
	}


	.education__year
	{
		font-size: 12px;
	}


	.footer .section-bg
	{
		padding-top: 30px;
		padding-bottom: 30px;
		border-radius: 35px 35px 0 0;
	}

	.footer__flex
	{
		gap: 20px;
	}

	.footer__menu,
	.footer__colr
	{
		width: 100%;
		padding-top: 20px;
		border-top: 1px solid rgba(34, 98, 183, .2);
	}
	
	.footer__adres-name
	{
		font-size: 14px;
	}


	.page-head__bg
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 36px;
	}

	.breadcrumbs
	{
		margin-bottom: 10px;
	}

	.page-head__desc
	{
		margin-top: 10px;
	}

	.page-title 
	{
		font-size: 42px;
	}


	.faq-section.faq-section_marg
	{
		margin-top: 40px;
	}

	.faq-section__accordion
	{
		margin-top: 20px;
	}

	.accordion__item,
	.accordion__open-border::after
	{
		border-radius: 5px;
	}

	.accordion__item + .accordion__item
	{
		margin-top: 10px;
	}

	.accordion__open
	{
		font-size: 14px;
	}


	.service-head__info
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.service-head__box
	{
		margin-top: 35px;
	}

	.service-head__box + .service-head__box
	{
		margin-top: 25px;
	}

	.service-head__area
	{
		font-size: 18px;
	}


	.service-info__wrap
	{
		overflow: visible;
	}

	.service-info__item
	{
		width: 320px;
		border-radius: 20px;
	}

	.service-info__img img
	{
		border-radius: 20px;
	}

	.service-info__name
	{
		font-size: 18px;
	}

	.service-branch__wrap
	{
		margin-top: 25px;
	}

	.tabs-bg
	{
		background: none;
		border-radius: 0;
		padding: 0;
	}


	.service-branch__nav
	{
		border-radius: 20px;
		padding: 20px;
	}

	.service-branch__nav-title
	{
		font-size: 18px;
	}

	.service-branch__img img
	{
		border-radius: 20px;
	}


	.call-away__bg
	{
		gap: 30px;
	}

	.call-away__coll
	{
		width: 100%;
	}

	.call-away__colr
	{
		width: 100%;
		padding-top: 0;
		text-align: left;
	}

	.call-away__phone-desc
	{
		text-align: left;
	}

	.call-away__box-btns
	{
		margin-top: 16px;
	}


	.about-img__img
	{
		aspect-ratio: 1 / .72;
	}

	.about-info__item
	{
		min-height: 134px;
	}

	.about-info__item._big
	{
		margin-bottom: 10px;
	}

	.about-info__val 
	{
		font-size: 44px;
	}

	.about-info__grid
	{
		gap: 10px;
	}


	.our-principles__grid
	{
		margin-left: -10px;
		margin-top: 10px;
	}

	.our-principles__item 
	{
		width: calc(100% / 2 - 10px);
		margin-top: 10px;
		margin-left: 10px;
	}


	.about-adv__cols
	{
		flex-wrap: wrap;
		gap: 10px;
	}

	.about-adv__col
	{
		width: 100%;
	}


	.learn-more__bg
	{
		background-image: url(../images/info-pattern4_mob.png);
		flex-wrap: wrap;
	}

	.learn-more__desc
	{
		margin-top: 16px;
	}

	.learn-more__img
	{
		width: 100%;
	}


	.clinic-visits__grid 
	{
		margin-left: -10px;
		margin-top: 10px;
	}

	.clinic-visits__item 
	{
		width: calc(100% / 2 - 10px);
		margin-top: 10px;
		margin-left: 10px;
	}

	.clinic-visits__number
	{
		font-size: 28px;
	}

	.clinic-visits__info
	{
		margin-top: 0;
	}



	.our-patients__wrap
	{
		margin-top: 20px;
	}


	.certs__grid
	{
		margin-top: 5px;
	}

	.certs__grid .certs__item
	{
		width: calc(100% / 2 - 15px);
	}


	.modal
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.modal__title
	{
		font-size: 26px;
	}

	.modal-form__top-title
	{
		margin-bottom: 15px;
	}

	.modal-form__info
	{
		margin-top: 20px;
	}

	.modal-form__list li::before 
	{
		top: 3.5px;
	}

	.modal-form__choice
	{
		margin-top: 20px;
	}

	.modal-form__form
	{
		margin-top: 20px;
	}

	.global-icons._flex
	{
		margin-left: -15px;
	}

	.global-icons._flex .global-icon
	{
		width: calc(100%/2 - 15px);
		margin-left: 15px;
		margin-top: 15px;
	}

	.global-icon
	{
		min-width: 1px;
	}

	.global-icon__box
	{
		padding-left: 36px;
	}

	.global-icon__box:before
	{
		left: 13px;
	}

	.global-icon__name
	{
		font-size: 14px;
	}

	.global-icon__adres
	{
		margin-top: 5px;
	}

	.modal-form__bot
	{
		margin-top: 20px;
	}

	.modal-form__price
	{
		font-size: 20px;
	}


	.modal-doctor__name
	{
		font-size: 22px;
	}


	.modal-thank__icon
	{
		width: 80px;
		height: 80px;
		border-radius: 20px;
	}

	.modal-thank__title
	{
		font-size: 28px;
	}


	.modal-patient__info
	{
		padding: 20px;
	}

	.modal-patient__name
	{
		font-size: 24px;
	}

	.modal-patient__btn
	{
		width: 100%;
	}

	.modal-patient__item-name
	{
		width: 150px;
	}


	.modal-review .review__flex
	{
		margin-top: 15px;
	}

	.review__text
	{
		margin-top: 20px;
		padding-top: 20px;
	}

	.reviews__grid
	{
		margin-top: 10px;
	}

	.reviews__grid .review 
	{
		width: calc(100% / 1 - 15px);
		margin-top: 10px;
	}


	.stats-reviews
	{
		margin-top: 25px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.stats-reviews__flex
	{
		justify-content: center;
	}

	.stats-reviews__box
	{
		margin-right: 0;
	}

	.stats-reviews__number span
	{
		font-size: 28px;
	}

	.stats-reviews__box-btn
	{
		width: 100%;
		margin-top: 20px;
	}

	.modal-review .review__bot
	{
		margin-top: 20px;
	}

	.modal__text-block,
	.modal-vacancy__btns
	{
		margin-top: 20px;
	}
}