@media (max-width: 1499px)
{
	
	/*------------
		Commit
	------------*/

	.first-section__title 
	{
		font-size: 70px;
		line-height: 1.2;
	}

	.first-info
	{
		width: 430px;
	}

	.first-info__bg
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.first-info__tel
	{
		font-size: 22px;
	}

	.first-info__adreses 
	{
		margin-top: 50px;
	}


	.main-services__item
	{
		border-radius: 35px;
	}

	.main-services__info
	{
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.main-services__name,
	.stocks__name,
	.product__name,
	.specialist__all-name,
	.help-banner__phone-number,
	.adresess__title,
	.adresess__tel,
	.first-info__title
	{
		font-size: 24px;
	}

	.main-services__desc
	{
		margin-top: 12px;
	}

	.main-services__arrow
	{
		bottom: 30px;
		left: 30px;
	}


	.stocks__item
	{
		border-radius: 35px;
	}

	.stocks__price-box
	{
		margin-top: 15px;
	}

	.stocks__desc
	{
		margin-top: 20px;
	}
}