@media (max-width: 1199px)
{
	.header-search{
		margin-left: 0;
	}

	.header__block{
		padding-bottom: 20px;
	}

	.header__block-bg
	{
		padding: 20px;
		height: calc(100vh - 148px);
	}
	
	.header__info-tel{
		font-size: 20px;
	}

	.header__info-btns{
		margin-top: 24px;
		gap: 12px 20px;
	}

	.header__info{
		padding: 20px;
		border-radius: 20px;
	}

	.header__adreses{
		padding: 20px;
		border-radius: 20px;
	}

	.header__menu {
		width: 25%;
	}

	.header__menu-item + .header__menu-item {
		margin-top: 24px;
	}

	.header__menu-item{
		font-size: 16px;
	}

	.footer__menu-item{
		font-size: 16px;
	}

	.footer__tel {
		margin-top: 40px;
		font-size: 20px;
	}

	.footer{
		padding-bottom: 20px;
	}

	.advantages__bg img{
		width: 80%;
		max-width: 800px;
	}


	.help-banner__coll{
		width: 66%;
	}

	.help-banner__colr{
		width: 34%;
	}

	.first-section__mouse{
		left: 20px;
	}

	.first-section__coll {
		padding-bottom: 50px;
	}

	.first-info__adreses {
		margin-top: 30px;
	}


	.help-banner__circle2{
		display: none;
	}

	.help-banner__circle3{
		display: none;
	}

	.info-section__bg{
		padding-left: 20px;
	}

	.info-section__coll{
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.info-section__img{
		width: 50%;
	}

	.info-section__btns{
		margin-top: 24px;
	}

	.page-title br{
		display: none;
	}

	.small-service__boxr{
		width: 130px;
	}

	.subject {
		padding: 20px;
		border-radius: 20px;
	}

	.article-text__info{
		padding: 20px;
		border-radius: 20px;
	}

	.small-service{
		padding: 20px;
		border-radius: 20px;
	}

	.small-service__name {
		font-size: 18px;
	}

	.article-text .text-block ul li::before{
		top: 6.5px;
	}

	.article-text .text-block ul li p{
		padding-left: 10px;
	}

	.section-error__wrap{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.contacts__box{
		padding: 25px 20px;
	}

	.contacts__title{
		font-size: 24px;
	}

	.contacts__item + .contacts__item {
		margin-top: 16px;
	}
	/*------------
		Commit
	------------*/
	body
	{
		font-size: 14px;
	}

	.text-block h3
	{
		font-size: 24px;
	}

	.page-head__bg
	{
		padding: 30px;
	}

	.page-title 
	{
		font-size: 50px;
	}
	
	.header__flex,
	.header__contacts
	{
		gap: 20px;
	}

	.header__logo
	{
		width: 140px;
	}

	.header-search__form .header-search__form-input
	{
		height: 50px;
	}

	.header-search__form-clear{
		height: 50px;
	}


	.first-section__flex
	{
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}

	.first-section__title 
	{
		font-size: 60px;
	}

	.first-info 
	{
		width: 360px;
	}

	.first-info__bg
	{
		padding: 25px 20px;
	}


	.main-services__name, 
	.stocks__name
	{
		font-size: 20px;
	}

	.main-services__arrow
	{
		width: 37px;
		height: 37px;
		border-radius: 10px;
	}

	.main-services__arrow svg
	{
		width: 20px;
		height: 10px;
	}


	.section-bg
	{
		padding: 25px 20px;
	}


	.stocks__price-box
	{
		margin-top: 10px;
	}

	.stocks__desc
	{
		margin-top: 16px;
	}

	.stocks__btns
	{
		margin-top: 20px;
		padding-top: 20px;
	}


	.surgery-serv__item
	{
		width: calc(100%/2 - 20px);
	}


	.product
	{
		padding: 20px;
	}

	.product__name
	{
		font-size: 20px;
	}

	.product__info
	{
		padding: 20px;
	}

	.product__info-icon 
	{
		height: 60px;
	}

	.product__arrow
	{
		width: 37px;
		height: 37px;
		border-radius: 10px;
		left: 20px;
		bottom: 20px;
	}

	.product__arrow svg
	{
		width: 20px;
		height: 10px;
	}


	.advantages__title 
	{
		font-size: 46px;
	}

	.specialist__arrow,
	.our-patients__arrow
	{
		width: 37px;
		height: 37px;
		border-radius: 10px;
	}

	.specialist__arrow svg,
	.our-patients__arrow svg
	{
		width: 20px;
		height: 10px;
	}


	.reviews__head 
	{
		width: calc(100% - 310px);
	}

	.reviews__btn
	{
		width: 280px;
	}

	.reviews__grid .review 
	{
		width: calc(100% / 2 - 20px);
	}


	.service-branch__tabs
	{
		margin-left: -15px;
	}

	.tabs__text
	{
		margin-left: 15px;
	}


	.slider-button-prev._top
	{
		top: -67px;
		right: 60px;
	}

	.slider-button-next._top
	{
		top: -67px;
	}

	.slider-button-prev, 
	.slider-button-next
	{
		width: 38px;
		height: 38px;
		border-radius: 10px;
	}

	.slider-button-prev svg, 
	.slider-button-next svg
	{
		width: 20px;
		height: 10px;
	}
	

	.main-form__bg
	{
		right: 0;
	}

	.main-form__box
	{
		width: 63%;
	}


	.service-head__item-desc
	{
		font-size: 20px;
	}


	.product-info__flex
	{
		width: 66%;
	}

	.product-info__image 
	{
		width: calc(34.49% - 10px);
	}

	.product-info__info 
	{
		width: calc(65.51% - 10px);
	}

	.product-info__top,
	.product-info__bot
	{
		padding-right: 20px;
	}

	.product-info__adreses
	{
		padding-left: 20px;
		width: 34%;
	}


	.section-price__wrap 
	{
		padding-right: 10px;
		width: calc(100% + 10px);
		margin-right: -10px;
	}


	.certs__slider .slider-button-prev._top, 
	.certs__slider .slider-button-next._top 
	{
		top: -53px;
	}


	.call-away__coll
	{
		width: 40%;
	}

	.call-away__img 
	{
		width: 32%;
	}

	.call-away__colr
	{
		width: 28%;
	}


	.about-info__val 
	{
		font-size: 48px;
	}

	.about-adv__slider .slider-button-prev
	{
		right: 87px;
	}

	
	.our-principles__item
	{
		width: calc(100% / 3 - 20px);
	}


	.learn-more__img 
	{
		width: 45%;
	}


	.clinic-visits__item
	{
		width: calc(100% / 3 - 20px);
		aspect-ratio: 1 / .8;
	}


	.our-principles__name, 
	.about-adv__name 
	{
		font-size: 20px;
	}


	.our-patients__item-wrap
	{
		padding: 20px;
	}

	.our-patients__name 
	{
		font-size: 16px;
	}


	.footer__coll
	{
		width: 330px;
	}

	.footer__colr
	{
		width: 350px;
	}


	.modal-form__list li::before
	{
		top: 5.5px;
	}
}